@import '../../styles/common.scss';

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background: $primary-background;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }

    .header-actions-container {
        display: flex;
        align-items: center;

        .languages {
            display: flex;
            margin-right: 10px;
            width: 100%;

            .welcome {
                font-size: 14px;
                margin-right: 10px;
            }
            .language-flag {
                height: 24px;
                width: 24px;
            }
        }
    }
}
